
:root {
  box-sizing: border-box;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
}

.command-line {
  visibility: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 2px 6px;
}
.command-line:not(:empty) {
  visibility: visible;
}